@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="row">
    <div class="col-md-3">
        <h2>Welcome To HomeToFood</h2>
        <ul>
            <li>Thia application was created while I was learning to use razor pages in .Net Core.</li>
            <li>You can add restaurants to the website, including it's name and cuisine.</li>
            <li>These are then added to the backend sql database and you can search through them.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Api</h2>
        <ul>
            <li>An Api is also accessible to retrieve JSON information of the restaurants.</li>
            <li><a href="api/Restaurants">/api/Restaurants</a></li>
            
        </ul>
    </div>

</div>
